.container {
  margin-top: 20px;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  height: max-content;
}

.banner img {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: -100px;
  margin-left: 3rem;
}

.info .name {
  font-size: 30px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  color: white;
  margin-top: 4rem;
}

.info .email {
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  color: #b4b4b4;
}

.banner {
  position: relative;
}
.changeBanner {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding: 16px;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  border-radius: 12px;
  color: #d7d7d7;
  display: flex;
  background: #26233c;
}

.profile {
  position: relative;
}

.info .profile img {
  border-radius: 50%;
  object-fit: cover;
}
